.project {
  text-align: center;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  cursor: none;

  &:hover {
    border-radius: 15px;
    transform: scale(0.95);
  }
  & img {
    width: 100%;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
  & p {
    margin: 0%;
    opacity: 0.7;
  }
  & h3 {
    margin: 0;
    margin-top: 2.5rem;
  }
  &:nth-of-type(odd) {
    margin-top: 5rem;
  }
}
.cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: orange;
  transition: 0.1s;
  transition: translate(-50%, -50%);
  // pointer-events: none;
  mix-blend-mode: difference;
}
