footer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 3rem;
  & > div {
    flex-grow: 1;
  }
  & .footer-logo {
    flex-grow: 7;
  }
  & ul {
    list-style: none;
    & li {
      padding: 0.3rem;
    }
  }
}
